*.o
autom4te*
config.*
.deps
.dirstamp
ltmain.sh
m4/
Makefile
libtool
*.xml
stamp-h1
*.nsi
monitord/monitord
*.in
configure
**/.a
**/.la
**/.lo
**/.libs
/autom4te.cache
Makefile.in
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/mkinstalldirs
.autotools
.cproject
.project
.settings
